<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do list</title>
  </head>
  <body>

<%    if (kindOfDay==="friday"){  %>
    <h1 style="color:red">Today is <br><%= kindOfDay %> <br></h1>
<%  }else{ %>
    <h1 style="color:green">Today is <br><%= kindOfDay %> <br></h1>
  <% }  %>


  </body>
</html>
